<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TITLE</title>
  </head>
  <body>
    <!-- RenderBody is a Razer function. It lets you use this page as a basic template. If you link this page to another view page(or webpages: 'About me', 'Contact', etc) this page will display on every page. If you do not want to use this page, DELETE THIS PAGE -->
    
    <!-- NOTE YOU CAN HAVE MULTIPLE LAYOUT PAGES!!!!!!!!!!!!! -->
    @RenderBody()
  </body>
</html>
