<h1>Best Restaurants</h1>
<h3>Add a new Restaurant:</h3>
<form action='/restaurants' method='post'>
  <label for='new-restaurant'>Restaurant Name</label>
  <input id='new-restaurant' name='new-restaurant' type='text'>
  <button type='submit'>Add Restaurant</button>
</form>
