<h1>Add a new Restaurant</h1>
<form action="/restaurants/new" method="post">
  <label for="restaurant-name">Restaurant name:</label>
  <input id="restaurant-name" name="restaurant-name" type="text">
  <select name="cuisine-id">
    @foreach (var cuisine in Model)
    {
      <option value="@cuisine.GetId()">@cuisine.GetType()</option>
    }
  </select>
  <button type="submit">Add new restaurant</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/restaurants">View all restaurants</a></p>
