<h1>Salon Paws</h1>
<h3>Add a new Client:</h3>
<form action='/clients' method='post'>
  <label for='new-client'>Client Name</label>
  <input id='new-client' name='new-client' type='text'>
  <button type='submit'>Add Client</button>
</form>
