@* The '@' is 'Razer' syntax. It lets the developer have C# access in html files.

Example below:
@{
  for(int a = 0; a <= 10; a++)
  {
    if(a == 4)
    {
      return a;
    }
  }
} *@
@{
  Layout = "Shared/_layout.cshtml";
}

<p>Hello World!</p>
