<h1>Salon Paws</h1>
 <hr />
<h2>Edit Stylist: @Model["stylist"].GetName()</h2>
<form action='/stylist/edit/@Model["stylist"].GetId()' method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input name="stylist-id" type="hidden" value='@Model["stylist"].GetId()'>
  <label for="stylist-name">Stylist name</label>
  <input id="stylist-name" name="stylist-name" type="text">
  <button type="submit">Submit</button>
</form>
<h4><a href="/">Return home</a></h4>
