<h2>Here are all the Restaurants for this Cuisine :</h2>

@if (@Model["restaurants"].Count == 0)
{
  <p>No restaurants have been added yet!</p>
}
else
{
  <ol>
    @foreach (var restaurant in @Model["restaurants"])
    {
      <li>@restaurant.GetName()</li>
    }
  </ol>
}
<p><a href="/restaurants/new">Add a new restaurant</a></p>
<p><a href="/">Return to Main Page</a></p>
