<h1>Salon Paws</h1>
<hr/>
<h2>Stylist Name:</h2>
<ul>
  @if (Model.Count != 0)
  {
    @foreach (var stylist in Model)
    {
      <li><a href="/stylists/@stylist.GetId()">@stylist.GetType()</a> | <a href="/stylist/edit/@stylist.GetId()">Edit</a>| <a href="/stylist/delete/@stylist.GetId()">Delete</a></li>
    }
  }
</ul>
<h4><a href="/stylists/new">Add a new stylist type</a></h4>
<h4><a href="/">Return home</a></h4>
<form action="/stylists/clear" method="post">
  <button type="submit">Clear all stylists</button>
</form>
