<h1>Best restaurants</h1>
<hr/>
<h2>Are you sure you want to delete this Cuisine and all of its restaurants?</h2>
<h4>@Model["cuisine"].GetType()</h4>
<form action='/cuisine/delete/@Model["cuisine"].GetId()' method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete</button>
</form>
<p><a href="/">Back home</a></p>
