<h2>Here are all the Clients for the selected Stylist :</h2>

@if (@Model["clients"].Count == 0)
{
  <p>No clients have been added yet!</p>
}
else
{
  <ol>
    @foreach (var client in @Model["clients"])
    {
        <li><a href="/client/@client.GetId()">@client.GetName()</a> | <a href="/client/edit/@client.GetId()">Edit</a>| <a href="/client/delete/@client.GetId()">Delete</a></li>
    }
  </ol>
}
<p><a href="/clients/new">Add a new client</a></p>
<p><a href="/">Return to Main Page</a></p>
