<h1>Salon Paws</h1>
<hr/>
<h2>Are you sure you want to delete this Stylist and all of their clients?</h2>
<h4>@Model["stylist"].GetName()</h4>
<form action='/stylist/delete/@Model["stylist"].GetId()' method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete</button>
</form>
<p><a href="/">Back home</a></p>
